.App {
    display: flex;
    justify-content: space-between;

    .menu-container {
        border: solid 2px red;
        top: 0;
        left: 0;
        width: 20%;
        height: 100vh;
        background-color: mediumaquamarine;

        .menu-bars {
            font-size: 2rem;
            color: white;
            margin: 0 0 0 12px;
            padding: 6px;
            border: solid 2px yellow;
            &:hover {
                cursor: pointer;
            }
        }
        .menu-times {
            font-size: 2rem;
            color: white;
            margin: 0 0 0 12px;
            padding: 6px;
            border: solid 2px yellow;
            &:hover {
                cursor: pointer;
            }
        }

        ul {
            list-style: none;
            padding: 10%;
            margin: 0;

            li {
                padding: 4% 0 8%;
                margin: 0;
                &:hover {
                    cursor: pointer;
                }
                
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 2rem;
                }
            }

            i {
                font-size: 2rem;
                color: white;
                padding: 5% 3%;
                margin: 20% 0;
                border: solid 2px tomato

            }
        }
    }

    .carousel {
        width: 80%;
        display: flex;
        border: solid 2px purple;

        .arrow {
            font-size: 4rem;
            padding: 5%;
            &:hover {
                cursor: pointer;
            }
        }
        .project {
            a {
                img {
                    width: 70%;
                    height: 200px;
                }
            }
        }
    }
}